#
# SPDX-FileCopyrightText: 2020 Dmytro Kolomoiets <amerlyq@gmail.com> and contributors.
#
# SPDX-License-Identifier: MIT
#
CONFIG_DEBUG_LL=y
# NEED: append 'earlycon earlyprintk' to kernel params in qemu
CONFIG_EARLY_PRINTK=y
# WARN: hardcodes UART -- impossible to boot kernel on other platforms (non-portable)
# INFO:(qemu -M virt): qemu/hw/arm/virt.c :: PL011 UART
CONFIG_DEBUG_LL_UART_PL01X=y
CONFIG_DEBUG_UART_PHYS=0x9000000
CONFIG_DEBUG_UART_VIRT=0xf8090000
